Package            Version
------------------ --------
certifi            2023.5.7
charset-normalizer 3.1.0
contourpy          1.0.7
cycler             0.11.0
fonttools          4.39.4
idna               3.4
joblib             1.2.0
kiwisolver         1.4.4
matplotlib         3.7.1
munkres            1.1.4
numpy              1.24.3
packaging          23.1
pandas             2.0.2
Pillow             9.5.0
pip                23.1.2
platformdirs       3.5.1
ply                3.11
pooch              1.7.0
pyparsing          3.0.9
PyQt5              5.15.7
PyQt5-sip          12.11.0
PySocks            1.7.1
python-dateutil    2.8.2
pytz               2023.3
requests           2.31.0
scikit-learn       1.2.2
scipy              1.10.1
setuptools         67.7.2
sip                6.7.9
six                1.16.0
threadpoolctl      3.1.0
toml               0.10.2
tomli              2.0.1
tornado            6.3.2
typing_extensions  4.6.3
tzdata             2023.3
urllib3            2.0.3
wheel              0.40.0
